@keyframes Rotate {

    100% { transform:rotate(360deg); }

}

@font-face{ 
    font-family: KidGame;
    
    src: url(./Letra/Kid\ Games.ttf);
}

#MensagemLabirinto{
  font-family: Kidgame;
  font-size: 12px;
}

#Start {
    background-color: transparent;  
}

#Regras {
    background-color: transparent;
}

#Home {
    background-color: transparent;
}


#ReStart {
    background-color: transparent; 
}

#ReStart:hover {
    transform: none;
    transform-origin: 50% 50%;
    animation: Rotate  2s  linear infinite;
}

#jump {
    max-width: 40vw;
    max-height: 50vh;
    animation: MoveUpDown 1s linear infinite;
    position: fixed;
    left: 20vw;
    bottom: 24vh;
    pointer-events: none;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translate(0);
    }
    50% {
      transform: translate(0,12vh);
    }
  }

  @keyframes MoveUpDownMenino {
    0%, 100% {
      transform: translate(0);
    }
    50% {
      transform: translate(0,-12vh);
    }
  }


html {
    height: 100%;
  }

body{
    height: 100%;
    display: grid;
    place-items: center;
}

div{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.ImagemFundo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;   
  background-position: center;

}

.Botao {
  transition: all 0.2s ease-out;
  height: 10vh;
  border: 0;
  outline: none;
}

.Botao img{
  height: 8vh;
}

#Home{
  top: 20%;
  left: 1%;
  position: relative;
  height: 60px;
}

#PlayMusic{
  position: absolute;
  top:2%;
  left:1%;
  background: transparent;
  outline:0;
}

#ReStart{
  top:20%;
  position: relative;
}

.Botao:active {
  border: 0;
  outline: none;
}

.Background{
  background-image: url('./Imgs/Fundo/background.jpg')
}

.Regras{
  background-image: url('./Imgs/Fundo/regras.jpg')
}

.End{
  background-image: url('./Imgs/Fundo/end.jpg')
}

.FundoMaze{
  background-image: url('./Imgs/Fundo/mazeback.jpg')
}

#Menino{
  position: fixed;
  bottom: -5vh;
  right: -5vw;
  max-width: 40vw;
  max-height: 60vh;
  object-fit: contain;
}

.BotaoHome{
  position: relative;
  bottom: 0.5vh;
  right: 1vh;
}

.Botao:hover{
  transform: scale(1.1)
}

#MensagemLabirinto{
  position: fixed;
  display: grid;
  place-items: center;
  text-align:center;
  z-index: 1;
  bottom: 60vh;
  right: 5vw;
  
 
}

#MensagemLabirinto img{
  width: 14vw;
}