@keyframes Rotate {

    100% { transform:rotate(360deg); }

}

#Start {
    background-color: transparent;
   
}

#Regras {
    background-color: transparent;
   
    
}

#Home {
    background-color: transparent;
    
   
}


#ReStart {
    background-color: transparent;
    
    
}

#ReStart:hover {
    transform-origin: 50% 50%;
    animation: Rotate  2s  linear infinite;
}


#jump {
    max-width: 40vw;
    max-height: 50vh;
    animation: MoveUpDown 1s linear infinite;
    position: fixed;
    left: 5vw;
    bottom: 5vh;
    pointer-events: none;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 5vh;
    }
    50% {
      bottom: 12vh;
    }
  }


html {
    height: 100%;
  }

body{
    height: 100%;
    display: grid;
    place-items: center;
}

div{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.ImagemFundo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;   
  background-position: center;

}

.Botao {
  height: 10vh;
  border: 0;
  
}

.Botao img{
  height: 7vh;
}

#Home{
  top: 15%;
  left: 1%;
  position: relative;
  height: 60px;
}

#ReStart{
  top:20%;
  position: relative;
}

.Botao:active {
  border: 0;
  
}


.Background{
  background-image: url('./Imgs/Fundo/background.jpg')
}

.Regras{
  background-image: url('./Imgs/Fundo/regras.jpg')
}

.End{
  background-image: url('./Imgs/Fundo/end.jpg')
}