@keyframes Rotate {

    100% { transform:rotate(360deg); }

}

#Start {
    background-color: transparent;
    position: absolute;
    left: 505px;
    top: 307px;
}

#Regras {
    background-color: transparent;
    position: absolute;
    left: 670px;
    top: 307px;
}

#Home {
    background-color: transparent;
    position: absolute;
    left: 670px;
    top: 307px;
}


#ReStart + img{
    width: 100px;
}

#ReStart img{

    width: 40px;
    height: 40px;

}

#ReStart:hover img{
    transform-origin: 50% 50%;
    animation: Rotate  2s  linear infinite reverse;
}


html {
    height: 100%;
  }

body{
    height: 100%;
    display: grid;
    place-items: center;
}

div{
    display: flex;
    flex-direction: column;
    justify-items: center;
}